@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ullam! Ea illo voluptatibus, ut veniam fugit in
commodi maiores, eos consectetur placeat deserunt, voluptates voluptas quod. Alias modi delectus eos!