@page "/optimizer"
@rendermode InteractiveServer

<PageTitle>Optimizer</PageTitle>

<h1>Optimizer</h1>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ullam! Ea illo voluptatibus, ut veniam fugit in
commodi maiores, eos consectetur placeat deserunt, voluptates voluptas quod. Alias modi delectus eos!

@code {
    @* private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    } *@
}
